.vscode/c_cpp_properties.json
.vscode/settings.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/RayTracing
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-69002866e68f98d2ddf5.json
build/.cmake/api/v1/reply/codemodel-v2-9d8334312563c0618cf1.json
build/.cmake/api/v1/reply/index-2021-08-18T16-04-56-0006.json
build/.cmake/api/v1/reply/target-RayTracing-Debug-382145c1acd6f61e3360.json
build/.cmake/api/v1/reply/toolchains-v1-bdc4bdcece852bedb82b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.5/CMakeCCompiler.cmake
build/CMakeFiles/3.20.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.5/CMakeSystem.cmake
build/CMakeFiles/3.20.5/CompilerIdC/a.out
build/CMakeFiles/3.20.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.5/CompilerIdCXX/a.out
build/CMakeFiles/3.20.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/RayTracing.dir/build.make
build/CMakeFiles/RayTracing.dir/cmake_clean.cmake
build/CMakeFiles/RayTracing.dir/compiler_depend.make
build/CMakeFiles/RayTracing.dir/compiler_depend.ts
build/CMakeFiles/RayTracing.dir/depend.make
build/CMakeFiles/RayTracing.dir/DependInfo.cmake
build/CMakeFiles/RayTracing.dir/flags.make
build/CMakeFiles/RayTracing.dir/link.txt
build/CMakeFiles/RayTracing.dir/main.cpp.o
build/CMakeFiles/RayTracing.dir/main.cpp.o.d
build/CMakeFiles/RayTracing.dir/progress.make
